.nav-item{
    font-size:smaller;
}

#subs{
    font-size:smaller;
}

.dot-icon{
    font-size:35px; 
    position: relative;
    top:9px;
    color:#0D6EFD;
}

#payments-circle{
    width: 2.7em;
    height: 4.9em;
    position: relative;
    left: 0.8em;
    z-index: 1
}

#payments-money{
    width: 1.4em;
    position: relative;
    left: -1.5em;
    top: -0.2em;
    z-index: 2;
}

