* {
  box-sizing: border-box;
}

.sign-in-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.column-a {
  width: 750px;
  background-color: blue;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0 0 740px 15%/ 00 800px 2%;
}
.column-a-text {
  width: 450px;
  text-align: center;
  margin-top: 80px;
  margin-right: 250px;
}
.column-a-p {
  color: white;
  font-size: 20px;
  margin: 10px 0 0;
  font-weight: 700;
}
.column-a-btn {
  background-color: blue;
  text-decoration: none;
  color: white;
  width: 150px;
  height: 40px;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  margin-top: 30px;
  border: 2px solid white;
  margin-right: 250px;
  font-weight: 700;
  font-size: 20px;
}
.column-a-img {
  width: 400px;
  height: 400px;
  margin-top: 70px;
}
.column {
  width: 650px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.sign-up-flex {
  display: flex;
  width: 1575px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.column-b {
  width: 650px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
.sign-up-h1 {
  font-size: 50px;
  font-weight: 700;
}
.sign-up-input-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 640px;
  height: 300px;
  margin-right: 20px;
}
.image-sign-up {
  width: 650px;
}
.input1 {
  background-image: url(./sign_up/Page-1.png);
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 25px;
  width: 450px;
  height: 60px;
  border-radius: 30px;
  border-width: 1px;
  font-size: 24px;
}
.input1:focus {
  background-image: none;
}
.input2 {
  background-image: url(./sign_up/icons8-secured-letter-32.png);
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 25px;
  width: 450px;
  height: 60px;
  border-radius: 30px;
  border-width: 1px;
  font-size: 24px;
}
.input2:focus {
  background-image: none;
}
.input3 {
  background-image: url(./sign_up/icons8-lock-30.png);
  background-size: 20px;
  background-position: left;
  background-repeat: no-repeat;
  background-position-x: 25px;
  width: 450px;
  height: 60px;
  border-radius: 30px;
  border-width: 1px;
  font-size: 24px;
}
.input3:focus {
  background-image: none;
}
.sign-up-button {
  background-color: blue;
  width: 150px;
  height: 40px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 20px;
  padding: 10px;
  margin-top: 30px;
}
.social-text{
    font-size: 16px;
    font-weight: 700;
    margin-top: 40px;
}
.social-box{
    display: flex;
    width: 640px;
    height: 60px;
    justify-content: space-evenly;
    align-items: center;

}
.social-b{
    border-radius: 50%;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.social-b-in{
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
    color: black;
}
.image-sign-up{
    height: 698px;
    width: 899px;
    margin: 20px 30px 0 0;
}
.sign-up-image{ 
    width: 799px;
    height: 598px;

}
