body{
    margin: 0;
}

.container {  
    height: 100vh;
    display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 0.7fr 1.3fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 0.7fr 0.8fr 0.9fr 1.6fr; 
  gap: 0px 0px; 
  grid-template-areas: 
    ". ."
    "signup-text background"
    "username background"
    "email background"
    "password background"
    "signup-button background"
    "text background"
    "icon background"; 
  }

  .username-margin{
    width: 100%;
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 25px;
    border: .1px solid #b4b4b4;
}
  
  .username { grid-area: username; 
    display: flex;
    align-self: end;
    justify-self: center;
}
.username-logo{
    width: 17px;
    background-color: white;
}
.username-button{
    border: none;
    background-color: white;
}
#username{
    flex:1;
    width: 250px;
    height: 30px;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 20px;
} 



.email-margin{
    width: 100%;
    max-width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 25px;
    border: .1px solid #b4b4b4;
}
  
  .email { grid-area: email; 
    display: flex;
    align-self: center;
    justify-self: center;
    
}
.email-logo{
    width: 1000px;
    background-color: white;
}
.email-button{
    border: none;
    background-color: white;
}
#email{
    flex:1;
    width: 250px;
    height: 30px;
    background: transparent;
    border: 0;
    outline: none;
    font-size: 20px;
} 

    .password-margin{
        width: 100%;
        max-width: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 60px;
        padding: 10px 25px;
        border: .1px solid #b4b4b4;
    }
  
  .password { grid-area: password;
    display: flex;
    align-self: start;
    justify-self: center;}

    .password-logo{
        width: 17px;
    }
    .password-button{
        border: none;
    }
    #password{
        flex:1;
        width: 250px;
        height: 30px;
        background: transparent;
        border: 0;
        outline: none;
        font-size: 20px;
    
    } 

  .signup-text { grid-area: signup-text;
    display: flex;
    position: relative;
    justify-content: center;
    align-content: center; 
    padding-bottom: 0;
    margin-bottom: 0;
}
    
  #signup-text{
    display: flex;
    position: relative;
    font-family: 'Rubik', sans-serif;
    align-self: end;
    justify-self: center;
    right: 60px;
    padding-bottom: 0;
    margin-bottom: 0;
    font-size: 65px;
  }
  
  .signup-button { grid-area: signup-button;
    display: flex;
    position: relative;
    justify-content: center;
    top:20px
    
   
}
#signup-button{
    display: flex;
    position: relative;
    background-color: #0850f8;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    align-self: start;
    justify-self: center;
    max-width: 100%;
    max-height: 100%;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-right: 60px;
    padding-left: 60px;
    border-radius: 40px;
    text-decoration: none;   
}
  
  .text { grid-area: text;
display: flex;
position: relative;
justify-content: center;
align-content: center; }
  
  #text{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    display: flex;
    margin-top: 15px;
    justify-self: center;
  }
  
  .icon { grid-area: icon; 
    display: flex;
position: relative;
justify-content: space-evenly;
align-items: start; 
padding-top:30px}



 #facebook{
    width: 65px;
 }
 
 #twitter{
    width: 65px;
 }

 #google{
    width: 65px;
    ;
 }

 #linkedin{
    width: 65px;
 }
   
  .background { grid-area: background; }
  
  #background{
    max-width: 100%;
  }

  

    
